@media (max-width: 767px) {

    body {
        margin-left: 2vw;
    }

    .main-header {
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 1vh;
        align-items: center;
    }

    .social-link {
        display: none;
    }

    .about {
        flex: 5;
        order: 1;
    }

    .title {
        margin-right: 0;
        font-size: 18px;
        flex: 6;
        order: 0;
    }

    .text-business-1 {
        font-size: 63px;
    }

    .text-business-1 span {
        font-size: 63px;
    }

    .main-button {
        flex-direction: column-reverse;
    }

    .img-button {
        width: 91%;
        padding: 1vh;
    }

    .bussines-button {
        margin-left: 10vh;
    }

    .avantage-design {
        padding: 1vh;
        width: 13vh;
        height: 25vh;
    }

    .icons-desktop,
    .icons-network,
    .icons-phone,
    .icons-rocket {
        width: 5vw;
        background-repeat: no-repeat;
    }

    .text-website {
        font-size: 13px;
        margin: 0;
    }

    .footer-text {
        font-size: 10px;
        margin-top: 1vh;
    }

    .arrow-groupimg {
        display: none;  
    }

    .about_us {
        flex-direction: column;
    }

    .people_img {
        width: 105%;
    }

    .text-aboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutUs-head {
        font-size: 39px;
        text-align: center;
        padding: 4vh 0 0 0;
    }

    .aboutUs-main {
        padding: 2vh;
    }

    .text-container {
        flex-direction: column;
        margin: 0;
        width: auto;
    }

    .work-text-2 {
        width: 83%;
        margin-top: 7vw;
    }

    .recent-work {
        margin-top: 10vh;
    }

    .recent-work-item {
        flex-direction: column;
        margin-top: 5vh;
        gap: 2vh;
    }

    .resource-arrow {
        display: block;
    }

    .resource-container {
        margin: 0;
    }
    
    .text-testimonials {
        margin: 0;
    }

    .testimonials-conteiner {
        margin-top: 12vh;
        font-size: 12px;
    }

    .text-block-testimonials,
    .testimonials-content {
        margin: 0;
    }

    .quotes-img {
        margin-left: 0;
    }

    .soup {
        margin-left: 1vh;
        margin-top: 5vh;
    }

    .footer {
        margin-top: 8vh;
        flex-direction: column;
    }

    .footer-text-container {
        padding: 1vh 0 0 3vh;
    }

    .header-text {
        font-size: 26px;
    }

    .main-text {
        font-size: 10px;
    }

    .down-text {
        font-size: 17px;
    }

    .form-footer {
        width: 30%;
    }

    .maps-container { 
        width: 94%;
    }
}