@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;600&family=Playfair+Display:wght@700&display=swap');

 body {
    margin: 0px;
    min-width: auto;
    max-height: 4093px;
    background: #fff;
 }

.header {
    margin: 0px 50px;
}

 .main-header {
   display: flex;
   justify-content: space-between;
   margin-left: 3vw;
   margin-right: 3vw;
   margin-top: 4vh;
}

 .ellement-1,
 .ellement-2,
 .ellement-3,
 .ellement-4 {
    text-decoration: none;
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 16px;
    margin-right: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
 }

 .about span {
    font-weight: 600;
 }

 .title {
   margin-right: 17vh;
 }

 .title-text {
    color: #331B3B;
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
 }

.vector-social {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

.vector-social svg {
    max-width: 867.538px;
    max-height: 819.823px;
    flex-shrink: 0;
}

.social-link {
    display: flex;
}

.arround {
   transform: rotate(30.5deg);
   color: #331B3B;
   width: 43.614px;
   height: 49.614px;
   margin-left: 25px;
   display: flex;
   border: 1px solid #000;
   border-radius: 55px 40px;
   position: relative;
}

.fb {
   background-image: url(img/img-facebook.png);
   width: 10px;
   height: 20px;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   transform: rotate(-30deg);
}

.ln {
   background-image: url(img/img-in.png);
   width: 18px;
   height: 18px;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   transform: rotate(-30deg);
}

.in {
   background-image: url(img/img-inst.png);
   width: 24px;
   height: 24px;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   transform: rotate(-30deg);
}

.main-button {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.business-text {
   font-family: Hind Vadodara;
   color: #331B3B;
}

.text-business-1 {
   font-size: 87px;
   font-style: normal;
   font-weight: 700;
   line-height: 99.8%; 
   letter-spacing: -0.87px;
   margin-left: 4vh;
}

.text-business-1 span {
   font-size: 87px;  
   font-style: normal;
   font-weight: 300;
   line-height: 99.8%;
   letter-spacing: -0.87px;
}

.text-business-2 {
   font-size: 17px;
   font-style: normal;
   font-weight: 400;
   line-height: 146.3%; 
   letter-spacing: 0.34px;
   margin-left: 4vh;
   margin-top: 4vh;
}

.bussines-button {
   width: 207px;
   height: 66px;
   border-radius: 10px;
   background: #331B3B;
   text-align: center;
   margin-left: 4vh;
   margin-top: 4vh;
}

.GS {
   color: #FFF;
   font-family: Hind Vadodara;
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 137.3%; 
   letter-spacing: 0.34px;
   text-transform: uppercase;
}

.main-what-business {
   height: 589px;
   background-color: #ECF7FF;
   border-radius: 0px 400px 0px 0px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.what-text {
   color: #331B3B;
   text-align: center;
   font-family: Hind Vadodara;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 106.3%; 
   letter-spacing: -0.48px;
   margin-bottom: 12vh;
}

.what-text span {
   font-weight: 300;
   line-height: 106.3%;
   letter-spacing: -0.48px;
}

.arrow-groupimg {
   margin-top: 15vh;
   margin-right: 4vh;
}

.avantage-group {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.avantage-design {
   width: 308px;
   height: 192px;
   display: flex;
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
   flex-direction: column;
}

.avantage-design-icons-network {
   width: 52px;
   height: 48px;
   border-radius: 10px;
   background: #FFDED4;
   position: relative;
   margin-top: 2vh;
   margin-left: 2vh;
}

.icons-network {
   background-image: url('img/network-img.png');
   width: 30px;
   height: 30px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

.avantage-design-icons-desktop {
   width: 52px;
   height: 48px;
   border-radius: 10px;
   background: #FFEED4;
   position: relative;
   margin-top: 2vh;
   margin-left: 2vh;
}

.icons-desktop {
   background-image: url('img/desktop-img.png');
   width: 34px;
   height: 34px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto; 
}

.avantage-design-icons-phone {
   width: 52px;
   height: 48px;
   border-radius: 10px;
   background: #D4F0FF;
   position: relative;
   margin-top: 2vh;
   margin-left: 2vh;
}

.icons-phone {
   background-image: url('img/phone-img.png');
   width: 36px;
   height: 36px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto; 
}

.avantage-design-icons-rocket {
   width: 52px;
   height: 48px;
   border-radius: 10px;
   background: #FFD4D4;
   position: relative;
   margin-top: 2vh;
   margin-left: 2vh;
}

.icons-rocket {
   background-image: url('img/rocket-img.png');
   width: 36px;
   height: 36px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto; 
}

.text-website {
   color: #331B3B;
   font-family: Hind Vadodara;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 137.3%; 
   letter-spacing: 0.88px;
   text-transform: uppercase;
   margin-top: 2vh;
   margin-left: 2vh;
}

.footer-text {
   color: rgba(51, 27, 59, 0.66);
   font-family: Hind Vadodara;
   font-size: 15px;
   font-style: normal;
   font-weight: 300;
   line-height: 145.3%; 
   letter-spacing: 0.3px;
   margin-top: 2vh;
   margin-left: 2vh;
}

.about_us {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.aboutUsImg {
   width: 659.955px;
   height: 605.923px;
}

.text-aboutUs {
   font-family: Hind Vadodara;
}

.aboutUs-head {
   color: #331B3B;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 106.3%; 
   letter-spacing: -0.48px;
}

.aboutUs-head span {
   font-weight: 300;
}

.aboutUs-main {
   color: rgba(51, 27, 59, 0.66);
   font-size: 17px;
   font-style: normal;
   font-weight: 400;
   line-height: 146.3%; 
   letter-spacing: 0.34px;
   margin-top: 2vh;
}

.about-explore {
   width: 207px;
   height: 66px;
   border-radius: 10px;
   background: #331B3B;
   margin-top: 6vh;
}

.explore-text {
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 137.3%; 
   letter-spacing: 0.34px;
   text-transform: uppercase;
   color: #FFFFFF;
}

.recent-work {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   border-top-left-radius: 400px;
   background: rgba(255, 222, 212, 0.30);
   margin-top: 22vh;
}

.text-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 1400px;
   align-items: center;
   margin-top: 5vh;
}

.work-text-1 {
   color: #331B3B;
   font-family: Hind Vadodara;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 106.3%; 
   letter-spacing: -0.48px;
}

.work-text-1 span {
   font-weight: 300;
}

.work-text-2 {
   color: #331B3B;
   font-family: Hind Vadodara;
   font-size: 17px;
   font-style: normal;
   font-weight: 400;
   line-height: 146.3%; 
   letter-spacing: 0.34px;
}

.recent-work-item {
   display: flex;
   justify-content: space-around;
   margin-top: 12vh;
}

.resource-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 419px;
   height: 365px;
   background: #FFF;
   border-radius: 10px;
   box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
   margin-left: 8vh;
}

.resource-img {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom: 4vh;
   align-items: center;
}

.desktop_img {
   border-radius: 18px;
   box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);

}

.phone_img {
   border-radius: 18px;
   box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
}

.resource-text {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   color: #331B3B;
   font-style: normal;
   font-family: Hind Vadodara;
}

.resource-text-1 {
   font-size: 24px;
   font-weight: 700;
   line-height: 146.3%; 
   margin-right: 20vh;
}

.resource-text-2 {
   font-size: 14px;
   font-weight: 500;
   line-height: 146.3%; 
   border-radius: 100px;
   border: 1px solid #343434;
   text-align: center;
   width: 92px;
   height: 23px;
}

.resource-text-1-2 {
   font-size: 24px;
   font-weight: 700;
   line-height: 146.3%; 
   margin-right: 10vh;
}

.resource-arrow {
   display: flex;
   width: 1487px;
   margin-top: 3vh;
}