$f: flex;


.container-input {
  display: $f;
  flex-direction: column;
  gap: 10px;
  .login-input {
    padding: 15px;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #e3d7d7;
    border: 1px solid #80808047;;
    border-radius: 4%;
    box-shadow: 5px 6px 5px -4px rgba(5, 5, 5, 0.48);
    transition: all .4s ease-in-out;
    width: 450px;
    input {
      flex-grow: 2;
      width: 90%;
      outline: none;
      border: none;
      background-color: #e3d7d7;
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      font-size: 16px;
    }
  }
}