@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin-left: 20px;
  margin-right: 20px;
}

.navigation {
  padding: 2vh 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #222;
  border: 1px solid #000;
  line-height: 154.286%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-left: 2vh;
  margin-right: 2vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navigation a {
  text-decoration: none;
  color: #222;
}
.navigation .header-img-block {
  align-items: center;
  gap: 3vh;
  display: flex;
  justify-content: space-between;
}
.navigation .header-img-block .rectangle-red,
.navigation .header-img-block .rectange-blue {
  width: 17px;
  height: 17px;
}
.navigation button {
  background-color: #FB4B4D;
  width: 157px;
  height: 52px;
  border: none;
  margin-left: 3vh;
  margin-right: 3vh;
}
.navigation button a {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 154.286% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

footer section .footer-info-text, .hot-string span, .scorp span, .main_1 .main_1_sauce_2 span, .main_1 .main_1_sauce_1 .run-string span {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.main_1 {
  margin-left: 2vh;
  margin-right: 2vh;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main_1 .main_1_sauce_1 {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_1 .main_1_sauce_1 .run-string {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2vh 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main_1 .main_1_sauce_1 .run-string span {
  font-size: 17px;
  line-height: 152.471%;
}
.main_1 .vertical-line {
  height: 105vh;
  border-left: 1px solid #000;
  margin-right: 11vh;
}
.main_1 .main_1_sauce_2 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_1 .main_1_sauce_2 .imgVector-2 {
  border-top: 1px solid #000;
  height: 79vh;
}
.main_1 .main_1_sauce_2 span {
  margin-top: 1.5vh;
  font-size: 58px;
  line-height: 111.228%;
}

.scorp {
  margin-top: 2vh;
  padding: 6vh 0;
  align-items: center;
  border: 1px solid #000;
  margin-left: 2vh;
  margin-right: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.scorp span {
  font-size: 65px;
  line-height: 111.655%;
}

.main_2 {
  align-items: center;
  margin-left: 2vh;
  margin-right: 2vh;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main_2 .fire_2 {
  margin-bottom: 55vh;
  margin-top: 2vh;
  height: 8vh;
}
.main_2 .cupol {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
}

.hot-string {
  border: 1px solid #000;
  margin-left: 2vh;
  margin-right: 2vh;
  padding: 2vh 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hot-string span {
  font-size: 17px;
  line-height: 152.471%;
}

footer .souce-footer {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

footer section .footer-info-text {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

footer section .footer-info-text, .main_1 .main_1_sauce_1 .run-string span, .main_1 .main_1_sauce_2 span, .scorp span, .hot-string span {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

footer {
  margin-left: 2vh;
  margin-right: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .souce-footer {
  padding: 2vh;
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer section .footer-info-text {
  font-size: 58px;
  line-height: 111.228%;
  gap: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer section .screen {
  height: 75vh;
  border: 1px solid #000;
}/*# sourceMappingURL=style.css.map */