* {
    padding: 0;
    margin: 0;
}

@media (min-width: 500px) {

.container-1 {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
}
}

.container-2 {
    display: flex;
}

.container-2 {
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-1 div, .container-2 div {
    padding: 10px;
    border: 1px solid #000;
}

.box-1 {
    flex: 2;
    order: 2;
}

.box-2 {
    flex: 2;
    order: 1;
}

.box-3 {
    flex: 1;
    order: 3;
}

.box {
    flex-basis: 20%;
}